{% extends "./blog/base.html"%}

{% block main%}

<div style="height:80px;"></div>
<div class="row">
    <div class="col-md-2">
        <a class="list-group-item">
            <img src="{{user.img}}" alt="" width="40">
            &nbsp;{{user.username}} 
        </a>
        <a href="/user/changetx"class="list-group-item">
            修改头像
            <span class="glyphicon glyphicon-chevron-right pull-right"></span>
        </a>
        <a href="/user/changepassword"class="list-group-item">
            修改密码
            <span class="glyphicon glyphicon-chevron-right pull-right"></span>
        </a>
        <a href="/user/account"class="list-group-item">
            个人账户
            <span class="glyphicon glyphicon-chevron-right pull-right"></span>
        </a>
        <a href="/user/charge"class="list-group-item active">
            充值
            <span class="glyphicon glyphicon-chevron-right pull-right"></span>
        </a>
        <a href="/user_history"class="list-group-item">
            历史记录
            <span class="glyphicon glyphicon-chevron-right pull-right"></span>
        </a>

    </div>
    <div class="col-md-10">
        {%include "./vmaig_auth/charge.html"%}
    </div>
</div>

{% endblock%}
