<div class="home-post  clearfix">

    <div class="post-content">
        <div class="panel panel-default" style="width:180px">
            <figure class="thumbnail">
                <a href="/article/{{post.en_title}}.html">
                    <img src="/{{post.img}}"  alt="" style="width: 100%; height: 230px">
                </a>
            </figure>
            <a href="/article/{{post.en_title}}.html" style="font-size: 12pt; margin-left:10px">{{post.title}}</a>
        </div>
</div>
</div>